.about {
  max-width: 1200px;
  padding: 40px 20px;
  /* width: 100vw; */
  margin: 0 auto;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
  position: relative;
}

.about-photo img {
  object-fit: cover;
  height: 100%;
}

.about h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.25rem;
  top: -65px;
  right: 190px;
  position: absolute;
  background: linear-gradient(45deg, #70da1c, #2e4231);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* opacity: 0; */
  transition: top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s ease;
}

.about.active h1 {
  top: 55px;
  opacity: 1;
}

.about p {
  color: #f7f7f7;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.115rem;
  text-align: left;
  padding-top: 3rem;
  /* font-family: "Urbanist", sans-serif; */
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about-content h1 {
    justify-content: center;
    display: flex;
    position: relative;
    top: 0px;
    right: 0px;
  }
  .about-content P {
    padding-top: 1rem;
  }
  .about-content h1 br {
    display: none;
  }
}

.about-content h1 {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

.about-content p {
  /* font-size: clamp(min, ideal, max); */
  font-size: clamp(1.2rem, 1vw + 0.8rem, 1.5rem);
}
